<h1>Edycja</h1>

<form method="POST">
    <div class="form-group mb-2">
        <label for="email">Adres email</label>
        <input 
            type="email"
            id="email" 
            name="email" 
            placeholder="nazwa@domena.xx" 
            class="form-control
            <% if (errors?.email) { %>
                is-invalid
            <% } %>"
            <% if (form) {%>
                value="<%= form.email%>"
            <% } %>
        required>
        <% if (errors?.email) { %>
            <div class='invalid-feedback'><%= errors.email.message %></div>
        <% } %>
    </div>
        <div class="form-group mb-3">
        <label for="password">Hasło</label>
        <input 
            type="password" 
            id="password" 
            name="password" 
            placeholder="Hasło" 
            class="form-control
            <% if (errors?.password) { %>
                is-invalid
            <% } %>"
        >
        <% if (errors?.password) { %>
            <div class='invalid-feedback'><%= errors.password.message %></div>
        <% } %>
    </div>
    
    <div class="form-group mb-3">
        <label for="firstname">Imie</label>
        <input type="text" 
            id="firstname" 
            name="firstname" 
            placeholder="Imie" 
            class="form-control
            <% if (errors?.firstname) { %>
                is-invalid
            <% } %>"
            <% if (form) {%>
                value="<%= form.firstname%>"
            <% } %>
       >
        <% if (errors?.firstname) { %>
            <div class='invalid-feedback'><%= errors.firstname.message %></div>
        <% } %>
    </div>
    <div class="form-group mb-3">
        <label for="lastname">Nazwisko</label>
        <input type="text" 
            id="lastname" 
            name="lastname" 
            placeholder="Nazwisko" 
            class="form-control
            <% if (errors?.lastname) { %>
                is-invalid
            <% } %>"
            <% if (form) {%>
                value="<%= form.lastname%>"
            <% } %>
        >
        <% if (errors?.lastname) { %>
            <div class='invalid-feedback'><%= errors.lastname.message %></div>
        <% } %>
    </div>
    <button type="submit" class="btn btn-primary">Edytuj</button>
</form>