<h1>Lista firm</h1>
  <form>
      <%- include('partials/search.ejs') %>
      <% if(user) { %>
      <div class="row">
        <div class="col">
          <a href="/admin/addcompany" class="btn btn-success">Dodaj nową firmę</a>
        </div>
      </div>
      <% } %>
    <div class="row">
      <div class="col-3">
        <%- include('partials/filter.ejs') %>
      </div>
      <div class="col-9">
          <% if (companies.length == 0) {%>
            <h2>Nie ma jeszcze żadnej firmy</h2>  
          <% } %>
          <% companies.forEach(company => { %>
            <div class="card bg-light mb-3" id="firma">
              <div class="card-body">
                <div class="card-title"><%= company.name %></div>
                <div class="card-subtitle text-muted"><%= company.slug %></div>
                <p>Właściciel: <%= company.user?.ceo %></p>
                <p>Kontakt: <%= company.user?.email %></p>
                <p>Pracowników: <%= company.employeesCount %></p>
                <a class="btn btn-primary" href="/firmy/<%= company.slug %>">Zobacz</a>
                <% if(user) {%>
                  <a class="btn btn-warning" href="/admin/<%= company.slug %>/editcompany">Edytuj</a>
                  <a class="btn btn-danger" onclick='return confirm("Czy na pewno chcesz usunąć firmę?")'
                  href="/admin/<%= company.slug %>/deletecompany">Usuń</a>
                <% } %>
              </div>
            </div>
          <% }); %>
       </div>
    </div>
    <%- include('partials/pagination.ejs') %>
  </form>
</div>